name: update-hosts

on: 
  schedule:
    - cron: "10 6,10,13,15,18,21,1 * * *"
  workflow_dispatch:

jobs:
  hosts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          
      - name: Init Env
        run : |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          sudo timedatectl set-timezone "Asia/Shanghai"
          python -m pip install --upgrade pip
          python -m pip install requests retry
          
      - name: Get Github Hosts
        shell: python
        run: |
          import os
          import time
          import requests
          import re
          from retry import retry
          from typing import Any, Optional

          def get_best_ip(ip_list: list) -> Optional[str]:
              for ip in ip_list:
                  if ip.startswith("127.") or ip.startswith("0."):
                      continue
                  return ip
              return None

          @retry(tries=3, delay=1)
          def get_ip(session: Any, github_url: str) -> Optional[str]:
              url = f'https://sites.ipaddress.com/{github_url}'
              headers = {
                  'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)'
                                ' AppleWebKit/537.36 (KHTML, like Gecko) Chrome/1'
                                '06.0.0.0 Safari/537.36'}
              try:
                  rs = session.get(url, headers=headers, timeout=5)
                  pattern = r"\b(?:[0-9]{1,3}\.){3}[0-9]{1,3}\b"
                  ip_list = re.findall(pattern, rs.text)
                  best_ip = get_best_ip(ip_list)
                  if best_ip:
                      return best_ip
                  else:
                      raise Exception(f"url: {github_url}, ipaddress empty")
              except Exception as ex:
                  print(f"get: {url}, error: {ex}")
                  raise Exception

          if __name__ == '__main__':
              gitHubDoMains = [
                  "alive.github.com", "api.github.com", "api.individual.githubcopilot.com",
                  "avatars.githubusercontent.com", "avatars0.githubusercontent.com",
                  "avatars1.githubusercontent.com", "avatars2.githubusercontent.com",
                  "avatars3.githubusercontent.com", "avatars4.githubusercontent.com",
                  "avatars5.githubusercontent.com", "camo.githubusercontent.com",
                  "central.github.com", "cloud.githubusercontent.com", "codeload.github.com",
                  "collector.github.com", "desktop.githubusercontent.com",
                  "favicons.githubusercontent.com", "gist.github.com",
                  "github-cloud.s3.amazonaws.com", "github-com.s3.amazonaws.com",
                  "github-production-release-asset-2e65be.s3.amazonaws.com",
                  "github-production-repository-file-5c1aeb.s3.amazonaws.com",
                  "github-production-user-asset-6210df.s3.amazonaws.com", "github.blog",
                  "github.com", "github.community", "github.githubassets.com",
                  "github.global.ssl.fastly.net", "github.io", "github.map.fastly.net",
                  "githubstatus.com", "live.github.com", "media.githubusercontent.com",
                  "objects.githubusercontent.com", "pipelines.actions.githubusercontent.com",
                  "raw.githubusercontent.com", "user-images.githubusercontent.com",
                  "vscode.dev", "education.github.com", "private-user-images.githubusercontent.com"
              ]
              
              dockerDoMains = ["hub.docker.com", "ghcr.io", "gcr.io", "k8s.gcr.io", "quay.io"]

              session = requests.Session()
              dnsList = []
              dnsList.append('# Varcli Hosts Start')
              dnsList.append(f'# Update at: {time.strftime("%Y-%m-%d %H:%M:%S")}')

              for label, domains in [("GitHub", gitHubDoMains), ("Docker", dockerDoMains)]:
                  dnsList.append(f'\n# {label} Hosts Start')
                  for domain in domains:
                      try:
                          ip = get_ip(session, domain)
                          if ip:
                              print(f"Resolved {domain} -> {ip}")
                              dnsList.append(f"{ip.ljust(16)} {domain}")
                          time.sleep(1)
                      except:
                          print(f"Failed to resolve {domain}")
                  dnsList.append(f'# {label} Hosts End')

              dnsList.append('\n# Varcli Hosts End')
              
              with open('hosts', 'w', encoding="utf-8") as f:
                  f.write('\n'.join(dnsList))

      - name: Check and Push
        run: |
          if [ -n "$(git status -s | grep hosts)" ]; then
            git add hosts
            git commit -m "update $(date +%Y-%m-%d" "%H:%M:%S)"
            git push -f
          fi
    
  del_runs:
    runs-on: ubuntu-latest
    steps:
      - name: 删除 workflow runs
        uses: JuvenileQ/delete-workflow-runs@main
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 3
